{% extends 'main/base.html' %}

{% block title %}Login{% endblock %}


{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5 my-5 border p-4">
            <form method="post">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="id_username" class="form-label">Username:</label>
                    {{ form.username }}
                </div>
                <div class="form-group mb-3">
                    <label for="id_password" class="form-label">Password:</label>
                    {{ form.password }}
                </div>
                <button type="submit" class="btn btn-primary mb-3">Log in</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}