<!DOCTYPE html>
<html>
<head>
    <title>Match Details</title>
</head>
<body>
    <h1>Match Details</h1>

    <h2>{{ match.team1.name }} vs {{ match.team2.name }}</h2>
    <p>Date: {{ match.date }}</p>
    <p>Stadium: {{ match.stadium.name }}</p>
    <!-- Add more match details as needed -->
</body>
</html>

{% block content%}
<p>Date and Time: {{ object.match_time }}</p>
<p>Stadium: {{ object.stadium }}</p>
<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">{{ object.team_1 }}</th>
        <th scope="col">{{ object.team_2 }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Goals</th>
        <th scope="col">{{ object.score_1 }}</th>
        <th scope="col">{{ object.score_2 }}</th>
      </tr>
      <tr>
        <th scope="row">Shots</th>
        <th scope="col">{{ object.shots_1 }}</th>
        <th scope="col">{{ object.shots_2 }}</th>
      </tr>
      <tr>
        <th scope="row">Offsides</th>
        <th scope="col">{{ object.offsides_1 }}</th>
        <th scope="col">{{ object.offsides_2 }}</th>
      </tr>
      <tr>
        <th scope="row">Corners</th>
        <th scope="col">{{ object.corners_1 }}</th>
        <th scope="col">{{ object.corners_2 }}</th>
      </tr>
    </tbody>
  </table>
{% endblock %}