{% extends 'main/base.html' %}
{% load static %}
{% block title%}{{ match }}{% endblock %}

{% block content%}

  <header style =" height : 300px">
    <h1> {{match.team_1}}</h1>
    <div><h1 class="display-1">{{match.score_1}}</h1></div>
    <h1 class="display-1"> - </h1>
    <div><h1 class="display-1">{{match.score_2}}</h1></div>
    <h1>{{match.team_2}}</h1>
  </header>

<div class="card text-center" style="color:rgb(22, 22, 149); background-color: rgb(185, 236, 255);">
  <div class="card-body">
    <h5 class="display-6 card-title">{{match.stadium}}</h5>
    <h6 class=" card-text"> {{match.match_time}}</h6>
  </div>
</div>

<hr>
{% if match.completed %}
  <div class="container text-center">
    <div class="row align-items-end">
      <div class="col">
        <h3>{{ match.shots_1 }}</h3>
      </div>
      <div class="col">
        <h2>Shots</h2>
      </div>
      <div class="col">
        <h3>{{ match.shots_2 }}</h3>
      </div>
    </div>
  </div>
  <hr>
  <div class="container text-center">
    <div class="row align-items-end">
      <div class="col">
        <h3>{{ match.offsides_1 }}</h3>
      </div>
      <div class="col">
        <h2>Offsides</h2>
      </div>
      <div class="col">
        <h3>{{ match.offsides_2 }}</h3>
      </div>
    </div>
  </div>
  <hr>
  <div class="container text-center">
    <div class="row align-items-end">
      <div class="col">
        <h3>{{ match.corners_1 }}</h3>
      </div>
      <div class="col">
        <h2>Corners</h2>
      </div>
      <div class="col">
        <h3>{{ match.corners_2 }}</h3>
      </div>
    </div>
  </div>
  <hr>
  {% else %}
    <h1>Match is yet to start</h1>
 {% endif %}


{% endblock %}