{% extends 'main/base.html' %}

{% block title%}MatchStats{% endblock %}

{% block content %}



{% load static %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
        .team-container {
            background-color: #e9f2fd;
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 20px;
        }
    </style>
    <div class="container">
        <h1>Team List</h1>
        {% for team in teams %}
            <div class="team-container">
                <h2>{{ team.name }}</h2>
                <ul>
                    {% for player in team.player_set.all %}
                        <li>{{ player.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{%endblock%}