{% extends 'main/base.html' %}
{% load static %}
{% block title %}Update Team{% endblock %}


{% block content %}

<header>
    <h1 class="display-1" style="width: 100%;">Update Player</h1>
</header>
<br>
<form method="post" action="{% url 'main:player_update' player.id %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="player_name" class="form-label">Name</label>
        <input type="text" class="form-control" name="name" id="player_name" placeholder="{{player.name}}" value = "{{player.name}}">
    </div>
    <div class="mb-3">
        <label for="player_team" class="form-label">Team</label>
        <input type="text" class="form-control" name="team" id="player_team" placeholder="{{player.team}}" value = "{{player.team}}">
    </div>
    <div class="col mb-3">
        <label for="player_jerser_no" class="form-label">Jersey Number</label>
        <input type="number" class="form-control" name="jersey_no" id="player_jersey_no" placeholder="{{player.jersey_no}}" value = "{{player.jersey_no}}">
    </div>
    <div class="col mb-3">
        <label for="player_dob" class="form-label">Date of Birth</label>
        <input type="date" class="form-control" name="dob" id="player_dob" placeholder="{{player.dob|date:'Y-m-d'}}" value = "{{player.dob|date:'Y-m-d'}}">
    </div>
    <div class="col mb-3">
        <label for="player_position" class="form-label">Position</label>
        <select class="form-control" name="position" id="player_position">
            <option value="G">Goalkeeper</option>
            <option value="D">Defender</option>
            <option value="M">Midfielder</option>
            <option value="F">Forward</option>
        </select>
    </div>

    <div class="row">
    <div class="col ">
        <label for="player_goals" class="form-label">No. of goals scored</label>
        <input type="number" class="form-control" name="goals" id="player_goals" placeholder="{{player.goals}}" value = "{{player.goals}}">
    </div>
    <div class="col ">
        <label for="player_assists" class="form-label">No. of assists</label>
        <input type="number" class="form-control" name="assists" id="player_assists" placeholder="{{player.assists}}" value = "{{player.assists}}">
    </div>
    </div>
    <div class="row"> 
    <div class="col ">
        <label for="player_yellow_cards" class="form-label">No. of yellow cards</label>
        <input type="number" class="form-control" name="yellow_cards" id="player_yellow_cards" placeholder="{{player.yellow_cards}}" value = "{{player.yellow_cards}}">
    </div>
    
    <div class="col">
        <label for="player_red_cards" class="form-label">No. of red cards</label>
        <input type="number" class="form-control" name="red_cards" id="player_red_cards" placeholder="{{player.red_cards}}" value = "{{player.red_cards}}">
    </div>
    </div>
    <div class="mb-3">
        <label for="player_nationality" class="form-label">Nationality</label>
        <input type="text" class="form-control" name="nationality" id="player_nationality" placeholder="{{player.nationality}}" value = "{{player.nationality}}">
    </div>
    <div class="col">
        <label for="player_height" class="form-label">Height</label>
        <input type="number" class="form-control" name="height" id="player_height" placeholder="{{player.height}}" value = "{{player.height}}">
    </div>
    <br>
    <button type="submit" value="update"  class="btn btn-primary"> Update </button>
    <button type="reset" class="btn btn-danger"> Reset </button>
    <a href="{% url 'main:player_detail' player.id %}" class="btn btn-primary"> Cancel </a>

</form>
{% endblock %}