{% extends 'main/base.html' %}

{% block title%}MatchStats{% endblock %}

{% block content %}
<style>
    .players{
        width: 100%;
        background-color: aquamarine;
        margin-bottom:2px;
        font-size: large;
        text-align: center;
        list-style-type: none;
        padding: 2px;;

    }
    .change_color:hover{
        background-color: rgb(196, 238, 98);
    }
</style>



<body>
    <h1 style="text-align: center; background-color: rgb(235, 66, 99); margin: 0px;padding: 6px;">League Players</h1>

    <div > 
        <ul>
        {% for player in players.all %}
        <li class="players"> <a class="change_color" href="{% url 'main:player_detail' player.id %}" style="text-decoration: none; color: rgb(8, 8, 8);">{{ player.name }}</a> - {{ player.team }}
        </li>
       
        {% endfor %}
    </ul></div>
   
</body>
{%endblock%}