{% extends 'main/base.html' %}

{% block title%}Teams{% endblock %}

{% block content%}
<style>
   .change_color:hover{
        background-color: rgb(39, 141, 48);
    }
</style>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Club</th>
        <th scope="col">MP</th>
        <th scope="col">W</th>
        <th scope="col">D</th>
        <th scope="col">L</th>
        <th scope="col">GF</th>
        <th scope="col">GA</th>
        <th scope="col">GD</th>
        <th scope="col">Pts</th>
      </tr>
    </thead>
    <tbody>
    {% for team in teams %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a class="change_color" href="{% url 'main:team_detail' team.id %}"  style="text-decoration: none; color: rgb(8, 8, 8);" >{{ team.name }}</a></td>
        <td>{{ team.played }}</td>
        <td>{{ team.wins }}</td>
        <td>{{ team.draws }}</td>
        <td>{{ team.losses }}</td>
        <td>{{ team.goals_for }}</td>
        <td>{{ team.goals_against }}</td>
        <td>{{ team.goals_against }}</td>
        <!-- <td>{%{ team.goals_for - team.goals_against }}</td> -->
        <td>{{ team.points }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}